In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hyugo\anaconda3\lib\site-packages (9.5.0)

### Connect to database and create connection

In [3]:
import mysql.connector as connector

connection = connector.connect(user = "dmh", password = "Zeus4$16", db = "littlelemondm")

In [7]:
cursor = connection.cursor()

### Show tables

In [9]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [13]:
results = cursor.fetchall()

print(results)

[('bookings',), ('customers',), ('menu',), ('menuitems',), ('orders',), ('orderstatus',), ('ordersview',), ('staff',)]

### Join query

In [25]:
join_query = """
            SELECT CONCAT(Customers.FirstName, " ", Customers.LastName) AS FullName, 
            Customers.PhoneNumber AS ContactInfo, 
            Orders.TotalCost AS BillAmount
            FROM Customers 
            INNER JOIN Bookings ON Customers.CustomerID = Bookings.CustomerID
            INNER JOIN Orders ON Bookings.BookingID = Orders.BookingID
            WHERE Orders.TotalCost > 60
            """
cursor.execute(join_query)

In [27]:

columns = [desc[0] for desc in cursor.description]
results = cursor.fetchall()


print(columns)
for result in results:
    print(result)

['FullName', 'ContactInfo', 'BillAmount']
('Alice Johnson', '555555555', Decimal('75'))
('John Doe', '123456789', Decimal('100'))